body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('https://img.freepik.com/free-photo/sport-composition-with-modern-elements_23-2147913643.jpg?t=st=1745662645~exp=1745666245~hmac=f0f15186087fc8450157c31aa4cf0b246f2335d0bb7527848696fbab070dae75&w=1380');
    background-size: cover;
    background-position: center;
    color: white;
}

h1 {
    text-align: center;
    font-size: 3em;
}

#products, #order-summary {
    margin: 20px 0;
}

button {
    margin: 5px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#products div {
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
}
